.home {
  color: black;
  @include flexEnd();
  height: 70vh;

  &__salute {
    div {
      @include flexStart();

      // thick line
      .thick-line {
        border-bottom: 3px solid $midnight;
        width: 17rem;
        margin-left: 2.3rem;
        margin-bottom: 4rem;
      }

      // social media
      .rrss {
        @include flexCenter();

        a {
          position: relative;
          bottom: 1.8rem;
          margin-left: 1rem;
          opacity: .4;
          transition: 400ms;

          ion-icon {
            font-size: 2rem;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    h1 {
      font-size: 4rem;
      margin-left: 6rem;
      @include flexDirectionCol();
    }
  }
}
