// colors
$white: #ffffff;
$red-violet: #DB1D4B;
$midnight: #132743;

// font family
$fontFamily: "Nunito", sans-serif;

// font sizes
$font-sizes: (
  null: 15px,
  480px: 16px,
  640px: 17px,
  1024px: 19px
);

$fsBrand: 2.3rem;